/TemplateMethod_watlas/nbproject/private/
/TemplateMethod_watlas/build/
/TemplateMethod+Fabrica_watlas/nbproject/private/
/TemplateMethod+Fabrica_watlas/build/
/ProjetoAdapter/nbproject/private/
/ProjetoAdapter/build/